@font-face {
    font-family: 'Trek';
    src: url(/css/TOS_Title.ttf);
    font-style: italic;
  }
#starTrek{
    font-family: 'Trek', sans-serif;
    color: yellow;
    font-style: italic;
}
#trekkie{
    background-image: url(/images/stars.jpeg) !important;
}
nav{
    background-color: orange;
    margin: 0px;
    padding: 50px;
}
nav a{
    align-items: right;
}

.navbar-nav{
    align-content: right;
}
.mr-auto{
    align-items: right;
    align-content: right !important;
    /* margin-right: 0px !important; */
    margin-left: auto !important;
}
.contact-head h1{
    font-size: 100px;
    align-self: center;
}
.contact-head-container{
    border: 10px solid #ffffff;
    border-radius: 25px;
    padding: 20px;
    height: 400px;
    margin-top: 0px;
    padding-top: 125px;
    /* padding-left: 27%; */
    align-items: center;
    align-content: center;
}
.smallify h1{
    font-size: 79px;
}
.float-container{
    border: 10px solid #ffffff;
    border-radius: 25px;
    padding: 20px;
    height: 400px;
    margin-top: 0px;
    padding-top: 0px;
  }
  .float-child{
    width: 50%;
    float: left;
    padding: 20px;
    display: block;
    text-align: right;
    margin-top: 0px;
    padding-top: 0px;
  }
  .float-child h1{
    /* font-size: 100px; */
    font-size: 100px;
    color: white;
  }
  .float-child2{
    width: 50%;
    float: right;
    padding: 20px;
    /* background-color: rgb(92, 164, 228);
    border-radius: 25px; */
    word-wrap: break-word;
    display: block;
    padding-top: 6px;
  }
  .jumbotron{
    background-color: #cc5803;
  }
  .smaller{
    height: 300px;
  }
  .smaller-head-container{
    height:100px;
    padding-top: 15px;
    padding-bottom:140px;
    text-align: center;
  }
  .card{
    border-radius: 15px;
  }
  .project-list{
    margin: 32px;
  }
  .document-list{
    margin: 32px;
  }
  .divider{
    background-color: gray;
    height: 5px;
    width: 90%;
    align-self: center;
    margin-left: 5%;
    border-radius: 15px;
  }
  .seniorDesign{
    border-color: goldenrod;
  }
  .form-row {
    margin-bottom: 10px;
}

.form-input {
    display: block;
}

.form-error {
    color: red;
}
.card-img-top{
    border-radius: 15px;
}
.bg-body-tertiary{
    background-color: #332D2D;
    background-color: #cc5803;
}
.container{
    height: 100px;
}
.trek{
    padding-left: 80px;
    display: flexbox;
    align-items: center;
    text-align: center;
}
.contactForm{
    text-align: center;
}
.formlabel{
    font-size: 25px;
}
.content{
    margin-left: 5%;
    margin-right:5%;
}
.links{
    text-align: center;
    margin-bottom: 15px;
}
.half-cut{
    width: 50%;
    float: left;
}
.half-cut-match{
    /* width: 50%;
    float: right; */
    text-align: center;
}
.bolden{
  font-weight: bolder;
}
.logos{
  padding-top: 15px;
}
.more-space{
  margin-top: 10px;
  margin-bottom: 10px;
}
.skills-two{
  width: 100%;
  text-align: center;
}
.skill-list{
  font-size: x-large;
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;

}
.inner-div{
  align-self: center;
  margin-left: 23%;
}
.holder{
  word-wrap: break-word;
}